.header {
	position: relative;
	overflow: hidden;

	.shape {
		position: absolute;
		bottom: 0;
		display: inline-block;
		width: 45rem;
		height: auto;
		transform: translateX(50%);
		right: 50%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.logo-area {
		padding-top: 20px;
		margin-bottom: 26px;
	}

	.logo {
		img {
			max-width: 120px;
			position: relative;
			z-index: 1;
		}
	}
}

.header-carousel {
	.carousel-item {
		.header-title {
			margin-bottom: 2rem;

			h2 {
				font-size: clamp(1rem, -0.1161rem + 3.5714vw, 2.5625rem);
				margin-bottom: 0;
				color: $primary;
			}
		}

		.header-img {
			display: grid;
			place-content: center;

			img {
				width: auto;
				height: 420px;
				max-width: none;
			}
		}
	}
}
