// Dark mode
$enable-dark-mode: false;

$grid-gutter-width: 2rem;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1160px,
);

// Colors
$dark-gray: #58676e;
$dark-gray-2: #688188;
$light-gray: #88969d;
$light-sky: #dcebf2;
$light: #eef3f5;
$primary: $dark-gray;
$secondary: $light-sky;
$text-muted: $light-gray;

// Font
$font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
	"Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: clamp(1rem, 0.0179rem + 3.1429vw, 2.375rem);
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;
$font-weight-bolder: 800;

// headings-variables
$headings-font-weight: 700;
$headings-line-height: 1.375;

// Input
$input-bg: $light;
$input-color: $primary;
$input-border-color: $light;
// $input-border-width: $input-btn-border-width;
// $input-box-shadow: $box-shadow-inset;

$input-padding-y-lg: 10px;
$input-padding-x-lg: 1rem;
$input-font-size-lg: clamp(0.75rem, 0.3929rem + 1.1429vw, 1.25rem);

// $input-border-radius: $border-radius;
// $input-border-radius-sm: $border-radius-sm;
// $input-border-radius-lg: $border-radius-lg;

$form-select-indicator-color: rgba($primary, 0.6);
$form-select-indicator: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$form-select-indicator-color}' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");

// Button
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

// blockquote
$blockquote-margin-y: 0;
$blockquote-font-size: clamp(0.875rem, 0.2786rem + 1.9084vw, 1.5rem);
$blockquote-footer-color: null;
$blockquote-footer-font-size: null;
